
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;;
}

a {
    text-decoration: none;
}


.mt1{
    margin-top: 1rem;
}

.mt2{
    margin-top: 2rem;
}

.mt3{
    margin-top: 3rem;
}

.mt4{
    margin-top: 4rem;
}

.mt5{
    margin-top: 5rem;
}